@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<p class="lead">Thirst process monitoring tool</p>

@section Scripts{
    <script src="signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var thirstHub = $.connection.thirstHub;

            thirstHub.client.getRunningProcesses = function (message) {
                console.log(message);
            };

            $.connection.hub.start().done(function () {
                thirstHub.server.inspectProcesses({ ProcessNames: ["Thirst.Agent"] });
            });
        });
    </script>
}
