@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<div id="realtime">
    <p id="message"></p>
</div>

@section Scripts{
    <script src="signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var thirstHub = $.connection.thirstHub;

            thirstHub.client.getRunningServices = function (message){
                console.log(message);
            };

            $.connection.hub.start().done(function () {
                thirstHub.server.inspectServices({ ServiceNames: ["Thirst.Agent"] });
            });
        });
    </script>
}
