<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings file="appSettings.config">
    <add key="webPages:Enabled" value="false" />
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
  </appSettings>
  <akka>
    <hocon>
      <![CDATA[
					akka {
            loggers = ["Akka.Logger.log4net.Log4NetLogger, Akka.Logger.log4net"]
            loglevel = WARNING
						actor {
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
							deployment {
								/commander {
									router = broadcast-pool
									routees.paths = ["/user/agent"]
									nr-of-instances = 100
									cluster {
                      enabled = on
                      max-nr-of-instances-per-node = 1
                      allow-local-routees = off
											use-role = agent
									}
								}          
							}
						}
						
						remote {
							log-remote-lifecycle-events = WARNING
							log-received-messages = on
							
							helios.tcp {
                transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
		            applied-adapters = []
		            transport-protocol = tcp
								hostname = "127.0.0.1"
                port = 2508
							}
						}            

						cluster {
							seed-nodes = ["akka.tcp://Thirst@127.0.0.1:2508"]
              roles = [master]
						}
					}
			]]>
    </hocon>
  </akka>
  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>